header {
    text-align: center;
    padding: 10px;
    font-family: 'Muli';
}

/*shopping cart styling*/
.shoppingcartimage img {
    position: absolute;
    margin-left: 1300px;
    margin-top: 125px;
    max-height: 50px;
    max-width: 50px;
}

.shoppingcartimage h2 {
    position: absolute;
    margin-left: 780px;
    margin-top: 130px;
}

/*navbar styling*/
nav {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Muli';
    border: 1px solid #e7e7e7;
}

.active {
    background-color: #4CAF50;
    color: white;
}

h1 {
    margin: 0;
    font-family: "Muli";
    text-decoration: none;
    color:black;
}

h2 {
    text-align: right;
    padding-right: 30px;
    font-family: 'Muli';
    vertical-align: baseline;
    width: 90%;
}

a {
    text-decoration: none;
}

a:visited {
    color:#0000EE;
}

/*side navbar styling*/
ul {
    list-style-type: none;
    margin-left: 70px;
    padding: 30px;
    width: 200px;
    background-color: #f1f1f1;
    font-family: 'Muli';
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Muli';
}

li a:hover {
    background-color: #555;
    color: white;
}

/*carousel styling*/
.carousel {
    max-width: 900px;
    position: relative;
    margin-left: 400px;
    top: -255px;
}

.text {
    text-align: center;
    font-family: 'Muli';
    margin-top: 10px;
}

/* Next & previous buttons styling */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*product card styling*/
.buns {
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    margin-top: -250px;
    vertical-align: top;
    text-align: center;
}

.bun-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 25%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.bun-image img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 70%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.bun-image:hover .overlay {
    opacity: 2;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*.product-info {
    margin-top: auto;
    font-family: "Muli";
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    float: right;
    clear: both;
    display: block;
    text-align: center;
    vertical-align: text-bottom;
}*/

.blackberrybun img {
    margin-left: 350px;
    margin-top: -255px;
    max-width: 500px;
    max-height: 500px;
}


h2 {
    font-family: "Muli";
    margin-left: 600px;
    margin-top: -325px;
    max-width: 500px;
    max-height: 500px;
}

h3 {
    font-family: "Muli";
    margin-left: 885px;
    margin-top: 40px;
    max-width: 450px;
    max-height: 500px;
}

/*dropdown button styling*/
.glaze {
    position: absolute;
    display: inline-block;
    margin-left: 870px;
    margin-top: -20px;
    padding: 20px;
}

.glaze h5 {
    position: absolute;
    display: inline-block;
    padding: 20px;
    margin-left: -375px;
    margin-top: -150px;
}

.quantity {
    position: absolute;
    display: inline-block;
    margin-left: 1075px;
    margin-top: -20px;
    padding: 20px;
}

.quantity h5 {
    position: absolute;
    display: inline-block;
    padding: 20px;
    margin-left: -375px;
    margin-top: -150px;
}

/*.dropbtnquantity {
    background-color: #008CBA;
    color: white;
    padding: 16px;
    font-family: 'Muli';
    font-size: 16px;
    border: none;
}

.dropdownquantity {
    position: relative;
    display: inline-block;
    margin-left: 870px;
    margin-top: -50px;
    padding: 20px;
}

.dropbtnglaze {
    background-color: #008CBA;
    color: white;
    padding: 16px;
    font-family: 'Muli';
    font-size: 16px;
    border: none;
}

.dropdownglaze {
    position: absolute;
    display: inline-block;
    margin-top: -38px;
    padding: 20px;
}

.dropdown-contentquantity {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-contentquantity a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Muli';
}

.dropdown-contentquantity a:hover {background: #ddd}


.dropdown-contentglaze {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-contentglaze a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Muli';
}

.dropdown-contentglaze a:hover {background: #ddd}

.dropdownquantity:hover .dropdown-content {
    display: block;
}

.dropdownquantity:hover .dropbtnquantity {
    background-color: #007ea8;
}

.dropdownglaze:hover .dropdown-content {
    display: block;
}

.dropdownglaze:hover .dropbtnglaze {
    background-color: #007ea8;
}*/

/*add to cart styling*/
#dropbtnaddtocart {
    background-color: #600CE8;
    color: white;
    padding: 16px;
    font-family: 'Muli';
    font-size: 16px;
    border: none;
}

#dropdownaddtocart {
    position: absolute;
    display: inline-block;
    margin-left: 1200px;
    margin-top: -38px;
    padding: 20px;
}


/*reviews styling*/
.reviews text {
    position: absolute;
    left: -520px;
    right: 500px;
    text-align: left;
    width: 50%;
}

h4 {
    font-family: 'Muli';
    font-weight: normal;
    color: blue;
    position: absolute;
    left: 375px;
    top: 600px;
}

h5 {
    font-family: 'Muli';
    font-weight: normal;
    position: relative;
    left: 375px;
    top: 120px;
}

.submitnewreview {
    background-color: #600CE8;
    color: white;
    padding: 10px;
    font-family: 'Muli';
    font-size: 12px;
    border: none;
}

.reviewbutton {
    position: absolute;
    display: inline-block;
    margin-left: 355px;
    margin-top: 100px;
    padding: 20px;
}


/* Progess bar */
.box {
    width: 600px;
    margin: 20px auto;
}

.progressbar {
    counter-reset: step;
    width: 400px;
    height: 60px;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: black;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.activeshopping {
    color: #008CBA;
}

.progressbar li.activeshopping:before {
    border-color: #008CBA;
}

.progressbar li.activeshopping + li:after {
    background-color: #008CBA;
}

/*Shopping cart*/
.group:before,
.group:after {
    content: '';
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}

/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}

.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}

/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "Muli";
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

.column-labels label {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-family: "Muli";
    font-weight: bold;
    border-bottom: 1px solid;
}

.column-labels product-image {
    text-indent: -9999px;
}

.column-labels product-details {
    text-indent: -9999px;
}

.column-labels product-removal {
    text-indent: -9999px;
}

.product-image { float: left; text-align: left; width: 10%; }
.product-details { float: left; width: 30%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 14%; }
.product-glaze { float: left; width: 12%; }
.product-removal { float: left; width: 10%; }
.product-line-price { float: left; width: 12%; text-align: right; }

.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: "Muli";
  /*border-bottom: 3px solid;*/
}

.product-image {
    text-align: left;
}

.product-image img {
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-title {
    margin-right: 20px;
    font-family: "Muli";
}

.product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
    font-family: "Muli";
    font-size: 12px;
}

.product-quantity {
    font-family: "Muli";
}

.remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: "Muli";
    font-size: 12px;
    border-radius: 3px;
}

.remove-product:hover {
    background-color: #a44;
  }

/* Totals section */
.totals {
    font-family: "Muli";
}

.totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

.totals-item-total {
    font-family: "Muli";
    font-weight: bold;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #008CBA;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #007ea8;
}
















